Задача 44: В ячейке ниже представлен код генерирующий из 1 столбца. Ваша задача перевести его в one hot DataFrame , которая состоит всего вид. Сможете ли вы это сделать без get_dummies ? 

>import random 

>lst = ['robot'] * 10

>lst += ['human'] * 10 

>random.shuffle(lst) 

>data = pd.DataFrame({'whoAmI':lst}) 

>data.head()

In [43]:
import random 
lst = ['robot'] * 10 
lst += ['human'] * 10 
random.shuffle(lst) 
data = pd.DataFrame({'whoAmI':lst}) 
data.head()

  whoAmI
0  robot
1  robot
2  human
3  robot
4  robot

In [46]:
data.loc[data['whoAmI']=='robot','robot']=True
data.loc[data['whoAmI']!='robot','robot']=False
data.loc[data['whoAmI']=='human','human']=True
data.loc[data['whoAmI']!='human','human']=False
data[['robot','human']]

    robot  human
0    True  False
1    True  False
2   False   True
3    True  False
4    True  False
5   False   True
6   False   True
7   False   True
8    True  False
9    True  False
10   True  False
11  False   True
12  False   True
13   True  False
14  False   True
15   True  False
16   True  False
17  False   True
18  False   True
19  False   True

In [45]:
pd.get_dummies(data['whoAmI'])

    human  robot
0   False   True
1   False   True
2    True  False
3   False   True
4   False   True
5    True  False
6    True  False
7    True  False
8   False   True
9   False   True
10  False   True
11   True  False
12   True  False
13  False   True
14   True  False
15  False   True
16  False   True
17   True  False
18   True  False
19   True  False